# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml
.shared

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Frontend
frontend/node_modules/
frontend/dist/

# Database
*.sqlite
*.db
/data/

# Go binary
e2e-status
